# Renombrar archivo a configs.py
# Completar los campos faltantes

class Configs:
    # Canal Spam Comandos | Canal donde se le enviaran comandos al bot
    canalSpamComandosID = 0 # COMPLETAR
    # Canal Output Bot | Canal donde el bot enviara sus mensajes sobre la cola
    canalOutputBotID = 0 # COMPLETAR
    # Discord Token | Token unico del bot de dicord
    DISCORD_TOKEN = "" # COMPLETAR
    # Rango sMOD | Ids de los rangos de moderacion que tendran permisos totales sobre el bot
    # [AyudanteX, AyudanteY]
    rangosMOD = [] # Completar
    # Emojis utilizados
    emojis = ['👍', '👎', '➡️', '❌']
    # Como se debe invocar al bot
    prefijoBot = "!queue"
    # Aliases de comandos
    comandoCreate = "create"
    comandoList = "list"
    comandoNext = "next"
    comandoDelete = "delete"
    comandoAdd = "add"
    comandoRemove = "remove"
    comandoHelp = "help"
    comandoAll = "all"
    # Comando de debug (por eso no aparece en help)
    comandoPrint = "print"
    imagenThumbnail = "https://i.imgur.com/LXStHiQ.png"
